body{
    background-image: url('file:///C:/Users/lynds/Desktop/MSU/MSU/Homework/project4/Resources/Images/moviebox.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
 }
 #container-background{background-color: #a3a3a3;
 }
 .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 24px;
}
.nav .navbar-nav{
  color: #050505 !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: #fdfafa;
  background-color: transparent;
}
 h1{
     text-align: center;
     font-size: 30px;
     color: rgb(46, 45, 45);
     font-weight: bold;
     font-family: Georgia, serif;
 }
 .h2{
     font-family: Georgia, serif;
     color:rgb(95, 95, 95);
 }
 .navbar {
 
     background: rgba(197, 10, 10, 0.864);
     padding: 15px;
    
     font-size: 24px;
 }
 .navbar li {
     display: inline-block;
     cursor: pointer;
     margin-right: 10px;
     margin-left: 10px;
 }
 .navlink{
     margin: 2% 0;
     font-family: Georgia, serif;
     color: rgb(12, 12, 12);
     font-size: 45px;
 }
 
 a:link {
     color: rgb(65, 66, 66);
 }
 a:hover {
     color:#0f0f0f;
     font-weight: bold;
 }
 .dropdown {
     position: relative;
     display: inline-block;
 }
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: rgba(64, 155, 155, 0); 
     z-index: 1;
 }
 .dropdown:hover .dropdown-content{
     display: block;
 }
 .dropdown-content a {
     color:rgb(91, 91, 91);
     font-size: 20px;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-family: Georgia, serif;
   }
 
 .blank-row {
     padding: 20px;
 }
 .blank-row-2 {
     padding: 40px;
     background-color: azure;
 }
 .box-1 {
     height: 80px;
     width: 130px;
     padding: 7px;
     background: rgba(46, 43, 46, 0.5);
     margin-left: 180px;
     backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
 }
 
 .box-2 {
     height: 200px;
     padding: 1px;
     backdrop-filter: blur(10px);
     max-height: 80%;
     line-height: 1;
     font-family: Georgia, serif;
 
 }
 .box-3 {
    padding: 5px;
    margin-left: 20px;
      }
.genremargin: {
  margin-left: 20px;
}
.imagelocleft {
  transform-origin: top left;
}
.imagelocright {
  transform-origin: top right;
}
 .blank-box {
     padding:5px;
 }
/*.zoom {
  z-index: -1; 
  position: static !important;
}*/
 .zoom:hover{
  position:relative;
  z-index: 1;
   transform: scale(1.8);
   -ms-transform: scale(1.8); /* IE 9 */
   -webkit-transform: scale(1.8); /* Safari 3-8 */
 }
 .zoom2:hover{
   transform: scale(1.4);
   -ms-transform: scale(1.4); /* IE 9 */
   -webkit-transform: scale(1.4); /* Safari 3-8 */
}
.thumbnail:hover{
  position:relative;
  z-index: 1;
   transform: scale(1.8) translate(100px, 25px);
   -ms-transform: scale(1.8); /* IE 9 */
   -webkit-transform: scale(1.8); /* Safari 3-8 */
}
.thumbnailright:hover{
  position:relative;
  z-index: 1;
   transform: scale(1.8) translate(-100px, 25px);
   -ms-transform: scale(1.8); /* IE 9 */
   -webkit-transform: scale(1.8); /* Safari 3-8 */
}
.thumbnail2:hover{
  transform: scale(1.4);
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
}
 @media (max-width: 600px)
     .navbar {
 
     }
     {box-sizing: border-box;}

     /* Button used to open the chat form - fixed at the bottom of the page */
     .open-button {
       background-color: #555;
       color: white;
       padding: 16px 20px;
       border: none;
       cursor: pointer;
       opacity: 0.8;
       position: fixed;
       bottom: 23px;
       right: 28px;
       width: 280px;
     }
     
     /* The popup chat - hidden by default */
     .form-popup {
       display: none;
       position: fixed;
       bottom: 0;
       right: 15px;
       border: 3px solid #f1f1f1;
       z-index: 9;
     }
     
     /* Add styles to the form container */
     .form-container {
       max-width: 300px;
       padding: 10px;
       background-color: white;
     }
     
     /* Full-width textarea */
     .form-container textarea {
       width: 100%;
       padding: 15px;
       margin: 5px 0 22px 0;
       border: none;
       background: #f1f1f1;
       resize: none;
       min-height: 200px;
     }
     
     /* When the textarea gets focus, do something */
     .form-container textarea:focus {
       background-color: #ddd;
       outline: none;
     }
     
     /* Set a style for the submit/login button */
     .form-container .btn {
       background-color: #04AA6D;
       color: white;
       padding: 16px 20px;
       border: none;
       cursor: pointer;
       width: 100%;
       margin-bottom:10px;
       opacity: 0.8;
     }
     
     /* Add a red background color to the cancel button */
     .form-container .cancel {
       background-color: red;
     }
     
     /* Add some hover effects to buttons */
     .form-container .btn:hover, .open-button:hover {
       opacity: 1;
     }
 